<div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body bg-success-subtle" >
    <h1 class="display-4"><%= @final_output %></h1>
    <p class="lead">This is the currnet ozone air quality readout in USA.</p>
    <hr class="my-4">
    <p>Hit "reload" to update the reading...</p>
    <p class="lead">
      <a class="btn btn-info" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>





  


<br/>

